certifi==2026.2.25
charset-normalizer==3.4.7
et_xmlfile==2.0.0
geopandas==1.1.1
idna==3.11
iniconfig==2.3.0
numpy==2.4.4
openpyxl==3.1.5
otsrdflib==0.5.0
packaging==26.1
pandas==2.2.3
pluggy==1.6.0
Pygments==2.20.0
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
pytest==9.0.3
python-dateutil==2.9.0.post0
pytz==2026.1.post1
rdflib==7.2.1
requests==2.32.3
shapely==2.1.2
six==1.17.0
SPARQLWrapper==2.0.0
tqdm==4.66.2
tzdata==2026.1
urllib3==2.6.3
